.context-dark, .bg-gray-dark, .bg-primary {
	padding-top:15px;
    color: rgba(255, 255, 255, 1);
	font-family: HelveticaNeue-Medium, Arial, Helvetica, sans-serif;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-list{
	padding-left:5px;
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);	
}
.footer {
	text-align: center;
	padding-bottom: 3px;
	font-family: HelveticaNeue-Medium, Arial, Helvetica, sans-serif;
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}