body {
    font-family: HelveticaNeue-Medium, Arial, Helvetica, sans-serif;
    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 200px;
    grid-template-areas: 
    "header header"
    "carousel carousel"
    "article article"
    "footer footer";
    
}

.swiper-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.swiper-slide{
    display: block;
    width:50%;
}


article{
    display:inline-grid;
    grid-area: article;
}

footer {
    background-color: #031B28;
    grid-area: footer;
}

content.carousel{
    grid-area: carousel;
    display: grid-inline;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "c-text c-img c-text";
}

* {
    box-sizing: border-box;
  }